body {
    font-family: sans-serif;
    background-color: #aeb0bd;
    background-image:url("http://www.planwallpaper.com/static/images/518071-background-hd_xO1TwRc.jpg");
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 200%;
    color: #670a8c;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container{
    max-width: 800px;
    margin: 0 auto;
    color: #303F9F;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
}
.left{
	text-align: left;
}
.right{
	text-align:right;
}
.links{
	display:inline;
}
.space{
	text="  ";
}
